.nav {
  margin-top: 40px;
  padding-bottom: 60px;
  display: flex;
  gap: 50px;
  align-items: center;
  list-style: none;
  flex-wrap: wrap;
  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--main-color);
    &_active {
      border: 1px solid var(--main-color);
      padding: 10px;
      border-radius: 20px;
    }
    &_disabled {
      cursor: not-allowed;
      opacity: 0.65;
    }
  }
}
