.destination {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  position: relative;
  z-index: 5;
  label {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      fill: var(--light-color);
    }
  }
  input {
    border: none;
    outline: none;
    text-transform: capitalize;
  }
}
