.search {
  width: 100%;
  max-width: 1024px;
  min-height: 56px;
  position: absolute;
  bottom: -11%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--main-color);
  border: 3px solid var(--orange-color);
  gap: 10px;
  z-index: 1;
  flex-wrap: wrap;
  &__date {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    .rdrDateRangeWrapper {
      z-index: 2;
      position: absolute;
      top: 38px;
      left: 0;
      filter: drop-shadow(0px 18px 15px var(--black-color));
    }
    svg {
      fill: var(--light-color);
    }
    & > span {
      color: var(--light-color);
      cursor: pointer;
      text-align: center;
    }
  }
}

@media (max-width: 580px) {
  .search {
    position: relative;
    transform: none;
    left: auto;
    bottom: auto;
    margin-top: 60px;
    gap: 20px;
    & > button {
      flex: 1 1 100%;
    }
    .rdrDateRangeWrapper {
      top: 20px;
    }
    .guests {
      flex: 1 1 auto;
    }
    &__date {
      flex: 1 1 400px;
    }
  }
}
